/* Egen custom CSS här */
@font-face {
    font-family: "F1";
    src: url(/Fonts/F1.ttf);
}

@font-face {
    font-family: "F1s";
    src: url(/Fonts/F1s.ttf);
}

@font-face {
    font-family: "F2";
    src: url(/Fonts/F2.ttf);
}

@font-face {
    font-family: "F3";
    src: url(/Fonts/F3.ttf);
}

body {
    background-color: rgb(19, 19, 19);
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    height: 100vh;
    display: flex !important;
    flex-direction: column !important;
}

h1 {
    font-family: F1;
    margin-left: 0px;
}

.ikon1 {
    margin-top: 10px;
}

.chaos {
    color: rgb(255, 236, 115);
}

.nurgle {
    color: rgb(92, 158, 74);
}

.khorne {
    color: firebrick;
}

.slaanesh {
    color: rgb(185, 75, 185);
}

.tzeentch {
    color: royalblue;
}

#hem {
    width: 50px;
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
}

#meny {
    background-color: black;
}

#cbg {
    background-color: rgb(170, 158, 78);
    position: relative;
}

#nbg {
    background-color: rgb(52, 80, 44);
    position: relative;
}

#kbg {
    background-color: rgb(71, 35, 35);
    position: relative;
}

#tbg {
    background-color: rgb(36, 35, 71);
    position: relative;
}

#sbg {
    background-color: rgb(71, 35, 63);
    position: relative;
}

.gubb {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sektion {
    height: calc(100vh);
    min-height: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    flex: 1;
    padding-bottom: 300px;
}


#h3 {
    position: absolute;
    bottom: 15%;
    left: 13%;
    font-family: F2;
    color: rgb(56, 56, 56);
    font-size: 30px;
}
h2 {
    font-family: F1;
    font-size: 100px;
    text-align: center;
    color: rgb(123, 123, 123);
}

h4 {
    font-family: F2;
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: rgb(57, 57, 57);
}

.mini {
    height: auto;
    margin: 15px;
    background-color: rgb(0, 0, 0);
    border: solid 5px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}
.crop {
    width: 80vh;
    height: 30vh;
    overflow: hidden;
}

.crop img {
    width: 70vh;
    height: auto;
}

.bild {
    height: max-content;
    width: 50%;
    
}

.chartn {
    height: max-content;
    width: 100%;
    margin: 20px;
}

#list img {
    height: 250px;
    width: auto;
    border: solid 5px;
    border-radius: 5px;
}

.classlist {
    display: flex;
    flex-wrap: wrap;
}

#slist {
    padding: 50px;
}

